{%extends "registration/base.html"%}

{% load bootstrap3 %}
{% load static%}
<div style="background-color:  rgba(231, 163, 99, 0.637)">
{% block content %}


<style>
.panel{
  position: relative;
  justify-content: center;
  /* overflow: hidden; */
  /* top: 5%; */
  text-align:center;
  left: 30%;
  margin-top:120px;

}

* {
    font-size:12px;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;

}
</style><br><br>
        <div class="panel panel-success text-center" style="width:440px;height:auto;border:3px double #0E5582;background-color:  rgba(0, 0, 0, 0.8)">

            <div class="panel-body">
              {% if profile_info.photo %}
             <img src="{{profile_details.photo.url}}" alt="profile-photo" class="img-responsive" style="width:150px;height:150px;border-radius:50%;margin-top:6px;color: white">
             {% else %}
             <!-- <img src="/static/images/avatar.jpg" alt="avatar" class="img-thumbnail rounded-circle prof"> -->
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3AeEIETd1WF-w7g5xkFdUfvcX0FK7tH5gV7qiidS1iW4hJFAzzw" style="height:80px;width:80px;">

             {% endif %}

                 <!-- <p><i>Posted At: </i><b>{{pitch.posted}}</b></p> -->
            </div>
            <div class="panel-footer">
                  <h3 style="color: white;">

                  username :   {{ profile.username }}

                </h3>

            </div>
            <div class="panel-footer">
                  <h4 style="color: white">

                  Contact :  {{ profile_info.contact }}

                  </h4>

            </div>
            <div class="panel-footer">
                    <!-- <a href="/pitch/{{pitch.id}}" style=""><h4>Add Comment | View Comments</h4></a> -->
                    {% if profile.username == user.username %}

                              <p style="font-size:30px;">

                                 <a class="btn btn-lg btn-info" href="{% url 'update_profile'%}">Edit Profile</a>
                              </p>
                      {%endif%}
            </div>
            <div class="panel-footer">
                  <h4>

                    {{ profile_info.bio }}

                  </h4>

            </div>
            <div class="panel-footer">
                  <h5 style="color: white">

                  Joined hood   {{ profile_info.timestamp | timesince }} ago

                </h5>

            </div>
        </div>

    </div>
    <!-- <div class="col-md-2"></div> -->
  <!-- </div> -->
  <hr>
  <!-- <div class="row">

    {% if projects %}
    {% if profile.username == user.username %}
    <h2>You have {{ projects | length}} projects
<span>
  <a class="btn btn-info btn-block" href="{% url 'add_project' %}" >Add Project</a>

</span>
    </h2> -->
      <!-- <a class="btn btn-info btn-block" href="{% url 'add_project' %}" >  <i class="fas fa-cloud-upload-alt"></i></a> to upload</h4></span> -->
      <!-- <a class="btn btn-info btn-block" href="{% url 'add_project' %}" >Add Project</a> -->

    <!-- {%else%}
    <h3> -->
      <!-- This user has {{ projects | length}} projects -->
  <!-- <a class="btn btn-info btn-block" href="{% url 'add_project' %}" >Add Project</a> -->
    <!-- </h3> -->
        <!-- {%endif%}
    {%endif%}
{% for project in projects %}

  <div class="col-md-3">
    <a href="{{project.link}}">
<div class="card-body">
<img src=" {{project.image.url}}" alt="">
</div>
</a>
<div class="card-header"><p class="text-center">
  {{project.description}}
</p></div>
  </div>


    {%endfor%} -->
  </div>
</div>
{% endblock %}
</div>
