{%extends "registration/base.html"%}

{% load bootstrap4 %}

{% block content %}
<div class="container" style="margin-top:120px;background-color:  rgba(231, 163, 99, 0.637)">
    <div class="row">
        <div class="col-md-4"><br><br>
            
            <img src="/static/photos/matuzo.png" alt="Phone images">
        </div>
        <div class="col-md-4 top-margin">
            {% if form.errors %}
                <p>Some information may be incorrect</p>
            {% endif %}
            <div class="signup-fields">
                <div class="section">
                    <div class="mylogo">
                        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"  class="mylogo"> -->
                    </div>
                    <div class="form-section" id="register">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Sign up">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="section">
                    <p class="log forgot">Have an account? <a href="/accounts/login/">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
